<a href="https://colab.research.google.com/github/Tatianabeg/-/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Условие 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def count_fruits(**kwargs):
        return(sum(kwargs.values()))

print("Всего фруктов:", count_fruits(Apple = 5, orange = 10, pear = 11))

Всего фруктов: 26

#Условие 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [2]:
old_list = [100, 125, -90, 345, 655, -1, 0, 200]
new_list = [c for c in old_list if c >= 0]
print("Новый список:", new_list)
sum_num_list = sum(new_list)
print("Суммарные затраты:", sum_num_list)

Новый список: [100, 125, 345, 655, 0, 200]
Суммарные затраты: 1425

#Условие 3
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

Условие 4.1. Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [5]:
data_pay = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09'] 
sum_pay = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
result = [sum_pay[i] for i in range(len(data_pay)) if data_pay[i].split("-")[1] == "11"]
print("Выручка в ноябре:", sum(result))

Выручка в ноябре: 25098

Условие 3.2.Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [4]:
def revenue_month(date_: list, revenue: list) -> dict:
    dict_ = {}
    for i in range(len(date_)):
        dict_[int(date_[i].split('-')[1])] = dict_.get(int(date_[i].split('-')[1]),0) + revenue[i]
    return dict_
print("Выручка в зависимости от месяца:", revenue_month(data_pay, sum_pay))

Выручка в зависимости от месяца: {9: 25647, 12: 45452, 10: 28645, 11: 25098}